In [1]:
import pandas as pd

In [24]:
dat=pd.read_excel("/Users/jonesb/Downloads/make_template/dnn/Authors.xlsx",engine='openpyxl',names=['LastName','Initial','Footnote','Institution','Address','dr1','dr2','dr3','dr4'])

In [30]:
dat=dat[dat.LastName.notna()].set_index(['LastName','Initial']).drop(['dr1','dr2','dr3','dr4'],axis=1).reset_index()

In [44]:
dat['LastName'].str.strip()
dat['Initial'].str.strip()
dat['Footnote'].str.strip()
dat['Institution'].str.strip()
dat['Address'].str.strip()

0                Valencia, E-46022, Spain
1             Beer-Sheva, 8410501, Israel
2                 Richland, WA 99352, USA
3              Aveiro, 3810-193, Portugal
4                  Argonne, IL 60439, USA
                     ...
84    College Station, TX 77843-4242, USA
85            Beer-Sheva, 8410501, Israel
86    College Station, TX 77843-4242, USA
87               Arlington, TX 76019, USA
88                Paterna, E-46980, Spain
Name: Address, Length: 89, dtype: object

In [45]:
dat.to_excel("AuthorList.xlsx")

In [43]:
dat

,LastName,Initial,Footnote,Institution,Address
0,\'Alvarez,V.,,Instituto de Instrumentaci\'on para Imagen Mo...,"Valencia, E-46022, Spain"
1,Arazi,L.,,"Nuclear Engineering Unit, Faculty of Engineer...","Beer-Sheva, 8410501, Israel"
2,Arnquist,I.J.,,Pacific Northwest National Laboratory (PNNL),"Richland, WA 99352, USA"
3,Azevedo,C.D.R,,"Institute of Nanostructures, Nanomodelling an...","Aveiro, 3810-193, Portugal"
4,Bailey,K.,,Argonne National Laboratory,"Argonne, IL 60439, USA"
...,...,...,...,...,...
84,Webb,R.,,"Department of Physics and Astronomy, Texas A\...","College Station, TX 77843-4242, USA"
85,Weiss-Babai,R.,"On leave from Soreq Nuclear Research Center, ...","Nuclear Engineering Unit, Faculty of Engineer...","Beer-Sheva, 8410501, Israel"
86,White,J.T.,Deceased.,"Department of Physics and Astronomy, Texas A\...","College Station, TX 77843-4242, USA"
87,Woodruff,K.,,"Department of Physics, University of Texas at...","Arlington, TX 76019, USA"
88,Yahlali,N.,,"Instituto de F\'isica Corpuscular (IFIC), CSI...","Paterna, E-46980, Spain"